@media only screen and (min-width: 38rem) {

    header {
        display: grid;
        grid-template-columns: 44px auto 44px 360px ;
        align-items: center;
        column-gap: 10px;
        background-color: var(--secondary);
        border-bottom: solid 4px var(--primary);
    
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: auto;
        margin-top: 0;
        
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navigation a {
        border: none;
        width: auto;
    }

    #cards.list {
        display: block;
    }

    #cards.list section{
        display: grid;
        text-align: left;
        border: solid 1px var(--secondary);
        grid-template-columns: 230px auto 150px auto;
    }



    #cards.list section a{

        overflow-wrap: break-word;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }

}