:root {
    box-sizing: border-box;
}


body {
    font-family: "Roboto Slab", serif;
}


header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    column-gap: 1rem;
    border-bottom: 1px solid #c3c3c3;
}




header img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto 0;
}

header span {
    font-size: 1.7rem;
    color: black;
}


.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
    
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
    
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #c3c3c3;
}

.navigation a:hover {
    background-color: black;
    color: white;
}

.navigation li.current {
    background-color: #c3c3c3;
}

main {
    padding: 0;
}

main h1 {
    text-align: center;
    padding: 1rem;
    margin: 0;

}

p {
    padding: 1rem;
}

.photo-container {
    text-align: center;
   
}

.photo-container img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;

}



section {
    margin: 1rem auto;
    padding-bottom: 1rem;
}


.about-me, .photo-container {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 1rem;
}

section h2 {
    text-align: center;
    background-color: black;
    padding: 0.6rem;
    color: white;
    margin: 0 auto;
}

.button-cont {
    padding: 1rem;
    text-align: center;
}

.button-cont button {
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 1rem;

}

.button-cont button:hover {
    background-color: black;
    color: white;
}

.certificate {
    text-align: center;
}


.course-card {
    border: 2px solid black;
    padding: 0.4rem;
    border-radius: 15px;
    transition: 0.3s;
    margin: 0.5rem;
    text-align: center;
}

.course-card h3 {   
    padding: 0;
    margin: 0;
}

.course-card p {

    padding: 0;
}

.courses {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

dialog {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    padding: 0;
    text-align: center;
}

dialog h2 {
    margin: 0;
    background-color: #c3c3c3;
    padding: 10px;
}

dialog button {
    font-size: 1.3rem;
    position: absolute;
    border: none;
    background-color: #c3c3c3;
    top: 11px;
    right: 15px;
}

::backdrop {
  background-color: rgb(0 0 0 / 80%);
}





footer {
    text-align: center;
    border-top: 2px dashed #c3c3c3;
    padding-top: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    border: 1px dashed #c3c3c3;
    width: 44px;    
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
}

.social img {
    width: 24px;
    height: 24px;

}

.social a:hover {
    background-color: #c3c3c3;
}

