@media only screen and (min-width: 38rem) {
    header, nav, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: 1px solid #c3c3c3;
        
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
        width: auto;
    }

    .courses {
    display: grid;
    grid-template-columns: 50% 50%;
    }

    section {
        border: 1px #c3c3c3 solid;
        
    }

    .my-info {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 10px;
        width: 100%;
    }
    
    
}