
:root {
    --primary-color: #203b29;
    --secondary-color: #82bac7;
}

* {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: var(--primary-color);
}

#cards {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

#cards section {
    display: block;
    background-color: var(--secondary-color);
    border: outset 4px var(--primary-color);
    height: 450px;
    width: 100%;

}

#cards h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 8px;
}

#cards p {
    margin:  0 auto;
    display: block;
    text-align: center;
}

#cards img {
    height: 300px;
    width: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 15px;
}



footer {
    text-align: center;
    padding: 2rem;
}