:root {
    --primary-color: #055226;
    --secondary-color: #bdaa3c;
    --text-color: #333333;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter Tight", sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 10px;
}

/*------------ Header ------------*/

header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    text-align: center;
    align-items: center;
    background: var(--primary-color);
    color: white;
}

header img {
    width: 100%;
    height: auto;
    padding: 5px;
    
}

header span {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

/*------------ Hamburger ------------*/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: white;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
    color: white;
}

/*------------ Navigation ------------*/
.navigation {
    display: none;
    background-color: var(--primary-color);
    grid-column: 1/-1;
    margin-top: 10px;
    color: var(--secondary-color);
}

.navigation.show {
    display: block;
}

.navigation img {
    width: 100%;
    height: auto;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.navigation a.active {
    background-color: white;
    color: var(--primary-color);
}

.navigation a:hover {
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
}

/*------------ Main ------------*/

.hero {
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px var(--secondary-color) solid;
    margin-bottom: 20px;
    border-radius: 10px;
}
.hero img {
    width: 100%;
    height: auto;
}


.cta-button {
    display: block;
    max-width: 150px;
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin: 1rem auto;
}

.cta-button:hover {
    background-color: var(--primary-color);
    border: 1px white solid;
    color: white;

}


h1 {
    font-family: "Lexend Giga", sans-serif;
    color: var(--primary-color);  
    margin: 0;
    text-align: center;
}

h2, h3 {
    color: var(--primary-color);
    font-family: "Inter Tight", sans-serif;
}

/*------------ Weather ------------*/
.weather-cont {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

.weather {
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 5px rgb(120, 120, 120);
    align-items: center;
    backdrop-filter: blur(100px);
    
}

.weather h2 {
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

.weather p {
    color: var(--secondary-color);
    align-items: center;
    margin: 0;
}

#current-temp {
    margin: auto 0;
    font-size: 50px;
}

.unit {
    font-size: 0.8rem;    
    vertical-align: top;
    margin-left: 2px;
    color: white;
}

.current-weather {
    display: grid;
    
}

.status-cont {
    text-align: center;
    grid-column: 1 / -1;
    margin: 0;
}

#weather-icon {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: auto;
}

.forecast-weather {
    justify-content: center;
    align-items: center;
    display: flex;
}

.forecast-weather p {
    font-size: 30px;
    color: white;
}

.forecast-card p{
    color: white;
}

/*------------ Features ------------*/

section {
    margin-bottom: 20px;
}

.discover {
    text-align: center;

    
}
#features {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 1rem;
}


#features section, #destinations section {
    min-width: 300px;
    height: auto;  
    display: grid;
    border: 2px var(--primary-color) solid;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
    grid-template-areas:
    "name"
    "photo"
    "description"
    "address"
    "star";

}

#features section:hover, #destinations section:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 4px rgb(74, 74, 74);
}

#features section h3{

    grid-area: name;
}

#features figure {
    grid-area: photo;
    margin: 0;
}

#features img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#features p {
    grid-area: description;
}

#features address {
    grid-area: address;
}

#features span {
    grid-area: star;
    margin: 10px 0;
}

/*------------ Footer ------------*/

footer {
    border-top: 4px var(--secondary-color) solid;
    background-color: var(--primary-color);
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: white;
    
}

.copyright a {
    color: white;
}

.social img {
    width: 30px;
    height: auto;
}


/*------------ Visit Message ------------*/


#visit-message {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    padding: 10px;
    display: block;
    width: fit-content;
    margin: 1rem auto;
    animation: fadeIn 3s ease-in-out
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*------------ Filter Buttons ------------*/

.buttons  {
    margin: 20px auto;
    text-align: center;
}

button {
    border-radius: 5px;
    border: 2px var(--primary-color) solid;
    background: var(--primary-color);
    color: white;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #256f45;
    color: var(--secondary-color);
    font-weight: 700;
    transform: translateY(-2px);
}

/*------------ Destinations Page ------------*/

#destinations {
    display: grid;
    
}

main > p {
    text-align: center;
}

#destinations section {
    min-width: 300px;
    height: auto;  
    display: grid;
    border: 2px var(--primary-color) solid;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
    grid-template-areas:
    "name"
    "photo"
    "description"
    "address"
    "star";

}

#destinations section h3{
    text-align: center;
    grid-area: name;
}

#destinations figure {
    grid-area: photo;
    margin: 0;
}

#destinations img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#destinations p {
    grid-area: description;
}

#destinations address {
    grid-area: address;
}

#destinations span {
    grid-area: star;
    margin: 10px 0;
}

/*------------ Modals------------*/

#modal {
    border-radius: 8px;
    text-align: center;
}

#modal h2, h3, p {
    margin: 5px 0;
}

#modal img {
    width: 100%;
    height: auto;

}

#modal button {
    margin-top: 1rem;
}

::backdrop {
    background-color: rgba(87, 116, 92, 0.8);
}

/*------------ Contact Page------------*/


.contact-page {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

.contact-intro {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

input, textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}




.output {
    text-align: center;
    color: #256f45;
}


